In [66]:
import pandas as pd

print(pd.__version__)

data = [[1,'A', 10],
        [2, 'B', 20],
        [3,'C', 30]]

print(data)

df = pd.DataFrame(data, columns=['id', 'name', 'age'])
print(df)

df.iloc[0]

2.2.1
[[1, 'A', 10], [2, 'B', 20], [3, 'C', 30]]
   id name  age
0   1    A   10
1   2    B   20
2   3    C   30

id       1
name     A
age     10
Name: 0, dtype: object

In [67]:
df = pd.DataFrame(columns=['ID', 'Name', 'Age'])
print(df)

Empty DataFrame
Columns: [ID, Name, Age]
Index: []

In [68]:
import pandas as pd
data = {'Name': ['Sam', 'John', 'Joanna'],
        'Major': ['Data Science', 'Biological Science', 'Biological Science'],
        'Age': [22, 23, 23]}

df = pd.DataFrame(data)
print(df)

for i in df.columns:
        print(df[i])

     Name               Major  Age
0     Sam        Data Science   22
1    John  Biological Science   23
2  Joanna  Biological Science   23
0       Sam
1      John
2    Joanna
Name: Name, dtype: object
0          Data Science
1    Biological Science
2    Biological Science
Name: Major, dtype: object
0    22
1    23
2    23
Name: Age, dtype: int64

In [69]:
for i in df.iterrows():
    print(i[1])

Name              Sam
Major    Data Science
Age                22
Name: 0, dtype: object
Name                   John
Major    Biological Science
Age                      23
Name: 1, dtype: object
Name                 Joanna
Major    Biological Science
Age                      23
Name: 2, dtype: object

In [70]:
df1=df.drop('Major', axis=1)
print(df1)

     Name  Age
0     Sam   22
1    John   23
2  Joanna   23

In [71]:
df['Major'].unique()

array(['Data Science', 'Biological Science'], dtype=object)

In [72]:
# df.insert(4, ('Luna', 'Robotics', '19'))

# print(df)

df.loc[len(df)] = ['Luna', 'Robotics', 19]

print(df)

     Name               Major  Age
0     Sam        Data Science   22
1    John  Biological Science   23
2  Joanna  Biological Science   23
3    Luna            Robotics   19